.custom-navbar {
  background-color: #01061a;
  color: #fff;
  position: sticky;
  top: 0; /* Set the distance from the top where the navbar becomes fixed */
  z-index: 100; /* Set a z-index to ensure the navbar appears above other elements */
}

  #color{
    color:aliceblue;
  }